<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>0</key>
        <dict>
            <key>ID</key>
            <string>0</string>
            <key>PhoneNumber</key>
            <string>18340853573</string>
            <key>Email</key>
            <string>10chongzheng@outlook.com</string>
            <key>Name</key>
            <string>ShiChongZheng</string>
        </dict>
        <key>1</key>
        <dict>
            <key>ID</key>
            <string>1</string>
            <key>PhoneNumber</key>
            <string>18340857689</string>
            <key>Email</key>
            <string>JiangXiaoJie@outlook.com</string>
            <key>Name</key>
            <string>JiangXiaoJie</string>
        </dict>
        <key>2</key>
        <dict>
            <key>ID</key>
            <string>2</string>
            <key>PhoneNumber</key>
            <string>18340852015</string>
            <key>Email</key>
            <string>ChenYan@outlook.com</string>
            <key>Name</key>
            <string>ChengYan</string>
        </dict>
        <key>3</key>
        <dict>
            <key>ID</key>
            <string>3</string>
            <key>PhoneNumber</key>
            <string>18340853456</string>
            <key>Email</key>
            <string>DingShuoQuan@outlook.com</string>
            <key>Name</key>
            <string>DingShuoQuan</string>
        </dict>
        <key>4</key>
        <dict>
            <key>ID</key>
            <string>4</string>
            <key>PhoneNumber</key>
            <string>18340853456</string>
            <key>Email</key>
            <string>DingShuoQuan@outlook.com</string>
            <key>Name</key>
            <string>ZhouHan</string>
        </dict>
        <key>5</key>
        <dict>
            <key>ID</key>
            <string>5</string>
            <key>PhoneNumber</key>
            <string>18340853456</string>
            <key>Email</key>
            <string>DingShuoQuan@outlook.com</string>
            <key>Name</key>
            <string>AiDeHua</string>
        </dict>
        <key>6</key>
        <dict>
            <key>ID</key>
            <string>6</string>
            <key>PhoneNumber</key>
            <string>18340853456</string>
            <key>Email</key>
            <string>DingShuoQuan@outlook.com</string>
            <key>Name</key>
            <string>ShenHongFei</string>
        </dict>
    </dict>
</plist>
